<?xml version="1.0" encoding="utf-8" standalone="no"?>
<config>
	<modules>
		<Snowdog_NonZero>
			<version>0.1.0</version>
		</Snowdog_NonZero>
	</modules>
	<global>
		<models>
			<snownonzero>
				<class>Snowdog_NonZero_Model</class>
				<resourceModel>snownonzero_resource</resourceModel>
			</snownonzero>
			<snownonzero_resource>
				<class>Snowdog_NonZero_Model_Resource</class>
				<entities>
					<notification>
						<table>snownonzero_notification</table>
					</notification>
				</entities>
			</snownonzero_resource>
		</models>
		<resources>
			<snownonzero_read>
				<connection>
					<use>core_read</use>
				</connection>
			</snownonzero_read>
			<snownonzero_write>
				<connection>
					<use>core_write</use>
				</connection>
			</snownonzero_write>
			<snownonzero_setup>
				<connection>
					<use>core_setup</use>
				</connection>
				<setup>
					<module>Snowdog_NonZero</module>
				</setup>
			</snownonzero_setup>
		</resources>
		<blocks>
			<snownonzero>
				<class>Snowdog_NonZero_Block</class>
			</snownonzero>
		</blocks>
		<helpers>
			<snownonzero>
				<class>Snowdog_NonZero_Helper</class>
			</snownonzero>
		</helpers>
		<events>
			<sales_quote_collect_totals_after>
				<observers>
					<snownonzero_sales_quote_collect_totals_after>
						<class>snownonzero/observer</class>
						<method>salesQuoteCollectTotalsAfter</method>
						<type>singleton</type>
					</snownonzero_sales_quote_collect_totals_after>
				</observers>
			</sales_quote_collect_totals_after>
			<snownonzero_notification_save_after>
				<observers>
					<snownonzero_snownonzero_notification_save_after>
						<class>snownonzero/observer</class>
						<method>notificationSendEmail</method>
						<type>singleton</type>
					</snownonzero_snownonzero_notification_save_after>
				</observers>
			</snownonzero_notification_save_after>
		</events>
	</global>
	<admin>
		<routers>
			<snownonzero_admin>
				<use>admin</use>
				<args>
					<module>Snowdog_NonZero_Adminhtml</module>
					<frontName>admin_snownonzero</frontName>
				</args>
			</snownonzero_admin>
		</routers>
	</admin>
	<frontend>
		<routers>
			<snownonzero>
				<use>standard</use>
				<args>
					<module>Snowdog_NonZero</module>
					<frontName>snownonzero</frontName>
				</args>
			</snownonzero>
		</routers>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<snownonzero module="snownonzero" translate="title">
											<title>NonZero Price</title>
											<sort_order>150</sort_order>
										</snownonzero>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<snownonzero>
			<zeroprice>
				<enabled>1</enabled>
				<msg>There is a problem with this product</msg>
			</zeroprice>
			<smallprice>
				<enabled>0</enabled>
				<price>10</price>
				<msg>There is a problem with this product</msg>
			</smallprice>
			<bigdiscount>
				<enabled>0</enabled>
				<percent>99</percent>
				<msg>There is a problem with Your discount code</msg>
			</bigdiscount>
		</snownonzero>
	</default>
</config>